<html>
<body style="font-family:Helvetica">

<h1>{{salutation}}</h1>

<br>

Todays restaurant recommendations:
<ol>
    {{#restaurants}}
        <li>
            <b><a href="http://www.google.com/search?q={{name}}+zurich&btnI">{{name}}</a><b><br>
            <a href="https://www.google.ch/maps/dir/Merkurstrasse+30,+8032+Z%C3%BCrich/{{name}},+{{address1}},+{{address2}}">Directions</a>
        </li>
    {{/restaurants}}
</ol>

Your Lunch Letter Team<br>
<br>
<a href="http://www.lunchletter.ch"><img src="https://db.tt/lL8ZGcmL" style="height:100px;"></a>

</body>

</html>
